.action
    display: flex

    &__notification
        display: flex
        justify-content: center
        align-items: center

        margin-right: 12px

        width: max(3.6vw, 44px)
        height: max(3.6vw, 44px)

        background-color: #fff

        border:1px solid #F5F5F7
        border-radius: 50%

        font-size: max(1.6vw, 20px)

        cursor: pointer


    &__avatar
        display: block

        margin-left: 12px

        width: max(3.6vw, 44px)
        height: max(3.6vw, 44px)

        object-fit: contain

        border-radius: 50%
