$base-color: #FFFFFF

.sidemenu
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

    padding: 32px

    width: 252px

    background-color: $base-color

    &__logo
        margin-bottom: 60px