$bg-base-color: #141522
$bg-accent-color: #546FFF
$font-inactive-color:#8E92BC
$font-base-color: #ffffff

.patient
    display: flex
    flex-direction: column
    justify-content: space-between

    padding: max(1.38vw, 20px)

    border-radius: max(0.7vw, 10px)

    background-color: $bg-base-color
    color: $font-base-color
    
    &__title
        margin-bottom: max(1.4vw, 20px)

        text-transform: capitalize
        font-style: normal
        font-weight: 600
        font-size: max(1.1vw, 16px)
        letter-spacing: -0.02em

    &__used
        margin-bottom: 1.4vw

        font-style: normal
        font-weight: 600
        font-size: max(2.2vw, 32px)

        letter-spacing: -0.03em

    &__item    
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-items: flex-start
        
        &_orientation
            &_horizontal
                flex-direction: row
                align-items: center

                gap: 20px

    &__course
        font-style: normal
        font-weight: 500
        letter-spacing: -0.02em
        color: $font-inactive-color

    &__total
        font-weight: 600
        font-size: max(1.4vw, 20px)
        color: $font-base-color

    &__units
        font-size: max(0.97vw, 14px)