$font-base-color: #141522
$font-accent-color:#54577A
    
@font-face 
    font-family: 'PlusJakartaSans'
    src: url('../../static/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
    
.dashboard
    display: flex
    justify-content: space-between

    //width: 100%

    font-family: PlusJakartaSans, arial
    color: $font-base-color

    &__general
        width: 70%

    &__header
        padding-bottom: 44px

.grid
    display: flex
    flex-direction: column

    &__row
        display: flex 
        justify-content: space-between
        align-items: center

        width: 100%

        &_centered
            justify-content: center

