@font-face 
    font-family: 'PlusJakartaSans'
    src: url('../../../static/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')

.logo
    display: flex
    align-items: center

    &__text
        font-family: 'PlusJakartaSans', serif
        font-style: normal
        font-weight: 600
        font-size: 32px
        text-transform: capitalize
